__pycache__/
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo

# Ignore compiled Python files
*.pyc
*.pyo